
[Unit]
Description=Start the "starter" program
Before=core-efl.target
After=xorg.target e17.service
Before=menu-daemon.service

[Service]
ExecStart=/usr/bin/starter

[Install]
WantedBy=core-efl.target

